* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #E8F2FF;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.section__image {

    background-size: 50% 50%;
    background-position: 50%;
    height: 100vh;
    flex: 1;
}

.section__image img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    /*filter:hue-rotate(215deg);*/
}

.section__login {
    flex: 1;
}

.login__contents {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-left: 115px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

form > button {
    margin: 20px 0px;
}
form > a {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 34px;
    color: #143751;
}

form > input {
    appearance: none;
    border: 0;
    background-color: #F9F9FF;
    border-radius: 20px;
    color: #8D8BA7;
    padding: 15px 20px;
    width: 350px;
    margin-bottom: 26px;
}

form > p {
    font-weight: 600;
    margin-bottom: 12px;
}

form button:hover {
    cursor: pointer;
}

button {
    appearance: none;
    border: 0;
    border-radius: 100px;
    padding: 14px 24px;
}

.blue-button {
    background-color: #143751;
    color: #EBF3FF;
    font-weight: 600;
}

a:link, a:visited {
    color: #31A9CF;
}

.error-div {
    z-index: 20;
    top: 80%;
    left: 80%;
    position: fixed;
    border: 3px solid #fa6e6e;
    border-radius: 20px;
    background-color: #fea9a9;
    padding-right: 50px;
    opacity: 0;
}