* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #E8F2FF;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.section__image {
    background-size: 50% 50%;
    background-position: 50%;
    height: 100vh;
    flex: 1;
}

.section__image img {
    width: 100%;
    height: 100%;
    filter: grayscale(1) sepia(1) hue-rotate(190deg) saturate(2);
    opacity: 0.85;
}

.section__login {
    flex: 1;
}

.login__contents {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-left: 115px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

form > button {
    margin: 20px 0px;
}
form > a {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 34px;
    color: #143751;
}

form > input {
    appearance: none;
    border: 0;
    background-color: #F9F9FF;
    border-radius: 20px;
    color: #8D8BA7;
    padding: 15px 20px;
    width: 350px;
    margin-bottom: 26px;
}

form > p {
    font-weight: 600;
    margin-bottom: 12px;
}

form button:hover {
    cursor: pointer;
}

button {
    appearance: none;
    border: 0;
    border-radius: 100px;
    padding: 14px 24px;
}

.blue-button {
    background-color: #143751;
    color: #EBF3FF;
    font-weight: 600;
}

a:link, a:visited {
    color: #31A9CF;
}

.error {
    position: fixed;
    bottom: 20px;
    right: -30%;
    background-color: rgba(254, 169, 169, 1);
    border: 1px solid #fa6e6e;
    border-radius: 10px;
    padding: 10px;
    padding-right: 50px;
    z-index: 100;
    transition: transform 0.5s ease-in-out;
}

.error.visible {
    transform: translateX(-90%);
}

.hidden {
    display: none;
}