@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    background-color: #EBF3FF;
}

.navbar {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    height: 9.5vh;
}

.navbar__logo-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.fa-bars {
    font-size: 30px;
    cursor: pointer;
}

.navbar__img {
    width: 40px;
    height: 40px;
}

.navbar__logo {
    width: 13vw;
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: -0.5px;
    color: #143751;
}

.navbar__school {
    white-space: nowrap;
    font-weight: 600;
    font-size: 22px;
    color: #31A9CF;
}

.navbar__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: inherit;
    color: #000;
    padding: 10px 1px;
    font-size: 16px;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 5%;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background: #ddd;}

.fa-user {
    color: #31A9CF;
    font-size: 24px;
    margin-right: 10px;
}

.fa-angle-down {
    font-size: 16px;

}

.main-area {
    display: flex;
    height: calc(100vh - 62px);
}

.sidebar {
    height: calc(100vh - 62px);
    width: 15vw;
    position: fixed;
    z-index: 1;
    background-color: #143751;
    overflow-x: hidden;
    transition: all 0.3s ease;
    transform: translateX(0);
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.dashboard {
    width: 100vw;
    background-color: #FFFFFF;
    margin: 15px;
    margin-left: calc(15vw + 15px);
    padding: 10px 50px;
    transition: all 0.3s ease;
}

.sidebar .item {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0px 13px;
    color: #B7ECFD;
    transition: all 0.3s ease;
}

.sidebar .item i {
    flex: 1;
    font-size: 25px;
    transition: all 0.3s ease;
}

.sidebar .item p {
    flex: 3;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sidebar .item:hover {
    background-color: rgba(255, 255, 255, .2);
    color: #FFFFFF;
    cursor: pointer;
}

.title {
    color: #143751;
    font-size: 23px;
    font-weight: normal;
    line-height: 120%;
}

.filter-title, .asistencias-title {
    font-weight: bold;
    color: #143751;
    display: flex;
    height: 7vh;
    gap: 120px;
}

.asistencias-title {
    align-items: center;
    height: 4vh;
    margin-top: 25px;
    margin-bottom: 10px;
    gap: 80px;
}

.asistencias-title div:not(:first-child) {
    padding: 2px 25px;
    color: #fff;
    border-radius: 8px;
}

.presente {background-color: #34C759;}
.retraso {background-color: #FFCC00;}
.ausencia {background-color: #FF3B30;}
.justificada {background-color: #32ADE6;}

.filter-drop {
    display: flex;
    gap: 74px;
    margin-bottom: 10px;
}

.filter-drop select {
    appearance: none;
    color: #7F7F7F;
    border: 1.5px solid rgba(213, 213, 213, 1);
    border-radius: 8px;
    padding: 6px 30px 6px 8px;
    background: #fff url("../assets/caret-down-solid.svg") no-repeat 92% 50%;
    background-size: 8px;
    cursor: pointer;
}

#asignaturadrop {
    padding-right: 55px;
}

.divider {
    border-top: 1.5px solid #000;
    margin: 0;
}

.asistencias table {
    border: 1.5px solid rgba(213, 213, 213, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 7px;
}

.asistencias table td {
    width: 17.5vw;
}